@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;;
}
body{
  display: grid;
  grid-template-rows: 15vh 75vh 10vh;
  align-items: center;
  background: #2184cf;
}
.topbar {
  display: grid;
  grid-template-columns: 25% 50%;
  font-family: 'Work Sans', sans-serif;
  color: white;
  height: 100%;
  background-color: #000000;
}
.meio {
  display: grid;
  align-items: center;
  justify-content: center;
}
.container{
  padding: 30px 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
}
header{ 
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.campo{
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}
.campo p{
  font-size: 18px;
  margin-bottom: 5px;
}
button{
  border: 2px solid black;
  border-radius: 5px;

  color: #fff;
  background: #2184cf;
  font-size: 17px;
  cursor: pointer;

  height: 80px;
  width: 20vw;
  margin: 10px;
  
  box-shadow: 0.5rem 0.5rem black;
  transition: 100ms ease-in;
}
button:hover{
  background: #000000;
  box-shadow: 0vh 0vh black;

  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}
.botao-voltar button{
  border: 2px solid white;
  border-radius: 5px;

  color: #fff;
  background: #b60404;
  font-size: 17px;
  cursor: pointer;

  height: 7vh;
  width: 10vh;
  margin: 30px;
  
  box-shadow: 0.5vh 0.5vh white;
  transition: 100ms ease-in;
}
.botao-voltar button:hover{
  background: #2184cf;
  box-shadow: 0vh 0vh white;

  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.rodape {
    font-size: 1.3rem;
    margin: 2rem;
    color: white;
}
.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}