@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;;
}
body{
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  align-items: center;
  background: #2184cf;
}
.topbar {
  display: grid;
  grid-template-columns: 25% 50%;
  font-family: 'Work Sans', sans-serif;
  color: white;
  height: 100%;
  background-color: #000000;
}
.meio {
  display: grid;
  align-items: center;
  justify-content: center;
}
.container{
  padding: 30px 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
}
header{ 
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.campo{
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}
.campo p{
  font-size: 18px;
  margin-bottom: 5px;
}
button{
  border: none;
  border-radius: 5px;
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  width: 20vw;
  margin-top: 10px;
  background: #2184cf;
  transition: 0.3s ease;
}
button:hover{
  background: #000000;
}
.botao-voltar button{
  border: none;
  border-radius: 5px;
  height: 52px;
  color: #fff;
  cursor: pointer;
  width: 20vw;
  margin-left: 20px;
  background: #b60404;
  transition: 0.3s ease;
}
.botao-voltar button:hover{
  background: #2184cf;
}

.rodape {
    font-size: 1.3rem;
    margin: 2rem;
    color: #000000;
}
.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}